<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" />

    <script src="//connect.soundcloud.com/sdk.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular.min.js"></script>
    <script src="js/plangular.js"></script>

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>Cats Dance With Jxnblk</title>
    <meta name="description" content="Animated gifs of cats dancing with Jxnblk">
  </head>
  <body ng-app="plangular">
    
      <header plangular data-src="'http://soundcloud.com/jxnblk/plangular'">
      <a href="" ng-click="player.play(track)" ng-hide="player.playing == track">Play</a>
      <a href="" ng-click="player.pause()" ng-show="player.playing == track">Pause</a>
      <h2>{{ track.user.username }} - {{ track.title }}</h2>

      <div class="div"><h1>Cats Dance With Jxnblk!</h1></div>
    </header>
    <section>
      <article><img src="images/jiggle.gif" class="imgwider"><div class="color green"></div></article>
      <article><img src="images/1.gif" class="imgh100"><div class="color pink"></div></article>
      <article><img src="images/2legs.gif" class="img100 imgbtm"><div class="color blue"></div></article>
      <article><img src="images/cat-dance-o.gif" class="imgh100 imgl-25"><div class="color orange"></div></article>
      <article><img src="images/cray-cat.gif" class="imgwider imgvc"><div class="color purple"></div></article>
      <article><img src="images/DJ2.gif" class="imgtaller imgl-25"><div class="color yellow"></div></article>

      <article><img src="images/house-cat.gif" class="imgwider"><div class="color orange"></div></article>
      <article><img src="images/kittydance.gif" class="imgwider"><div class="color purple"></div></article>
      <article><img src="images/tall.gif" class="img100 imgh5"><div class="color yellow"></div></article>
      <article><img src="images/silly-hat.gif" class="imgwider"><div class="color green"></div></article>
      <article><img src="images/LR-cat.gif" class="img100 imgbtm"><div class="color pink"></div></article>
      <article><img src="images/wool-cat.gif" class="imgtaller"><div class="color blue"></div></article>

      <article><img src="images/jiggle.gif" class="imgwider"><div class="color green"></div></article>
      <article><img src="images/1.gif" class="imgh100"><div class="color pink"></div></article>
      <article><img src="images/2legs.gif" class="img100 imgbtm"><div class="color blue"></div></article>
      <article><img src="images/cat-dance-o.gif" class="imgh100 imgl-25"><div class="color orange"></div></article>
      <article><img src="images/cray-cat.gif" class="imgwider imgvc"><div class="color purple"></div></article>
      <article><img src="images/DJ2.gif" class="imgtaller imgl-25"><div class="color yellow"></div></article>

      <article><img src="images/house-cat.gif" class="imgwider"><div class="color orange"></div></article>
      <article><img src="images/kittydance.gif" class="imgwider"><div class="color purple"></div></article>
      <article><img src="images/tall.gif" class="img100 imgh5"><div class="color yellow"></div></article>
      <article><img src="images/silly-hat.gif" class="imgwider"><div class="color green"></div></article>
      <article><img src="images/LR-cat.gif" class="img100 imgbtm"><div class="color pink"></div></article>
      <article><img src="images/wool-cat.gif" class="imgtaller"><div class="color blue"></div></article>
    </section>

    <div class="div cagediv slidestop"><img src="images/jxnblk.gif" class="img100 imgjxn"><div class="cage"></div></div>

  </body>
  </html>