@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300|Merriweather::400,300,300italic,400italic,700,700italic);

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* LAYOUT STYLES */
html {
  background-color: #3B3B3B;
}

body {
  font-size: 16px;
  line-height: 1.6; 
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  color: #f2f2f2;
}

header {
}

h1 {
  font-size: 6em;
  font-weight: 700;
  text-align: center;
}

section, div {
  max-width: 960px;
  margin: 0 auto;
}

.div {
  padding-top: 1em;
}

section {
  margin-top: -33px;
}

article {
  background-color: #fff;
  display: block;
  width: 150px;
  height: 150px;
  overflow: hidden;
  float: left;
  border: 5px solid #f2f2f2;
  position: relative;
}

.color {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.green {
  background-color: rgba(153, 255, 0, 0.3);
}

.pink {
  background-color: rgba(234,76,137, 0.3);
}

.blue {
  background-color: rgba(0,204,255, 0.3);
}

.orange {
  background-color: rgba(255,117,26, 0.3);
}

.purple {
  background-color: rgba(155,127,248, 0.3);
}

.yellow {
  background-color: rgba(255,204,0, 0.3);
}

img {
  margin: auto 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
}

.imgvc {
   top: 0;
}

.img100 {
  max-width: 100%;
}

.imgh100 {
  max-height: 100%;
}

.imgwider {
  min-width: 100%;
  max-width: 100%;
  height: auto;
}

.imgtaller {
  min-height: 100%;
  max-height: 100%;
  width: auto;
}

.imgl-25 {
  left: -25%;
}

.imgh5 {
  top: 5%;
}

 /*DANCING JXNBLK IN A CAGE */

.cagediv {
  width: 192px;
  height: 598px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

.cage {
  background: url(../images/cage.svg) no-repeat -304px 112px;
  position: absolute;
  width: 100%;
  height: 745px;
  bottom: 0;
}

.imgjxn {
  padding-top: 230px;
  position: relative;
}


/* ANIMATIONS */

@-webkit-keyframes slidestop {
  0% {
    top:-900px;
  }
  100%{
    bottom:100px;
  }
}

/* ANIMATION STYLES */

.slidestop{
  -webkit-animation: slidestop 1s normal ease-in-out;
  -webkit-animation-duration: 8s;
}







